@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-blue: #000a38;
  --color-yel-grey: #e2dab6;
  --color-off-white: #fafafa;

  /*Typografi */
  --font-oswald: "Oswald", sans-serif;
  --font-bangers: "Bangers", system-ui;

  /*Display size */
  --text-display: 34.375rem; /* 550px ÷ 16 = 34.375rem */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes lightspeed-in-left {
  0% {
    transform: translateX(-200%) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: translateX(30px) skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: translateX(-10px) skewX(-5deg);
  }
  100% {
    transform: translateX(0) skewX(0deg);
  }
}

.animate-lightspeed-left {
  animation: lightspeed-in-left 1s ease-out forwards;
}

.typing {
  display: inline-block;
  overflow: hidden; /* hides text before animation */
  white-space: nowrap; /* prevent wrapping during typing */
  width: 0; /* hidden initially */
  animation-fill-mode: forwards; /* keeps full width after typing */
}

/* First word: "Hej!" */
.typing.first {
  animation: typing 0.5s steps(4, end) forwards;
  animation-delay: 1.5s;
}

/* Rest of first line */
.typing.second {
  animation: typing 2s steps(22, end) forwards;
  animation-delay: 2.4s; /* very short after "Hej!" */
}

/* Second line */
.typing.third {
  animation: typing 2s steps(34, end) forwards;
  animation-delay: 3.7s; /* delay after first line + pause */
}
