@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-blue: #000a38;
  --color-yel-grey: #e2dab6;
  --color-off-white: #fafafa;

  /*Typografi */
  --font-oswald: "Oswald", sans-serif;
  --font-bangers: "Bangers", system-ui;

  /*Display size */
  --text-display: 34.375rem; /* 550px ÷ 16 = 34.375rem */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
